@import "base";

.mui-active {
  color: #ff9900;
}

body {
  font-size: 14px;
  background-color: #ffffff;
}

.mui-bar:before {
  height: 0
}

.mui-bar:after {
  height: 0
}

input {
  margin-bottom: 0 !important;
}

.date-primary {
  position: absolute;
  right: 3px;
  top: 0;
  width: 8px;
  height: 8px;
  border-radius: 50%;
  display: block;
  background-color: #337ab7 !important;
}

.date-success {
  position: absolute;
  right: 3px;
  top: 0;
  width: 8px;
  height: 8px;
  border-radius: 50%;
  display: block;
  background-color: #33a76f !important;
}

.date-warning {
  position: absolute;
  right: 3px;
  top: 0;
  width: 8px;
  height: 8px;
  border-radius: 50%;
  display: block;
  background-color: #f0ad4e !important;
}

.date-danger {
  position: absolute;
  right: 3px;
  top: 0;
  width: 8px;
  height: 8px;
  border-radius: 50%;
  display: block;
  background-color: #f65d5d !important;
}

.btn {
  width: 100%;
  background-color: #fcc142;
  color: #FFFFFF;
  border: none;
  font-size: 16px;
  height: 45px;
  margin-top: 20px;
  border-radius: 20px;
}

.register_pic img {
  width: 100%;
  display: block;
}

//注册页
//同意条款弹窗
#div {
  top: 0;
  left: 0;
  z-index: 888;
  position: fixed;
  background: rgba(0, 0, 0, 0.7);
  .popover {
    z-index: 999;
    display: block;
    border-radius: 10px;
    position: relative;
    background: #F4F4F4;
    margin: 0 auto;
    width: 80%;
    height: 420px;
    padding: 20px 15px 15px 15px;
    .text {
      height: 335px;
      background-color: #fff;
      color: #333;
      padding: 5px 10px;
      box-sizing: border-box;
      overflow-y: auto;
    }
    .agree_btn {
      width: 100%;
      text-align: center;
      margin-top: 15px;
      button {
        background-color: #fcc142;
        border: none;
      }
    }
  }
}

.register_login {
  padding: 0 5%;
  .login_content {
    //同意条款
    .agree {
      height: 30px;
      line-height: 30px;
      margin-top: 15px;
      p {
        color: #333;
        margin-left: 45px;
        height: 35px;
        line-height: 35px;
        a {
          font-size: 14px;
        }
      }
    }
    .input {
      overflow: hidden;
      width: 100%;
      border-bottom: 1px solid #dbdbdb;
      line-height: 57px;
      height: 57px;
      img {
        display: block;
        margin:21px 0px 20px 10px;
        width: 16px;
        height: 16px;
        float: left;
      }
      .input-wrapper {
        margin-left: 35px;
        position: relative;

        > input {
          padding: 0 5px;
          border: none;
          font-size: 18px;
          box-sizing: border-box;
          width: 100%;
          line-height: 57px;
          height: 57px;
          color: #000;
          text-align: right;
        }

        .check_code {
          border-radius: 15px;
          //background-color: #c2c2c2;
          background-color: #000000;
          color: #FFFFFF;
          font-size: 15px;
          line-height: 22px;
          padding: 2px 10px;
          border: none;
          float: right;
          margin: 16px 0 15px 0;
        }
      }
    }
  }

  .pic {
    margin-bottom: 15px;
    height: 45px;
    margin-top: 30px;
    overflow: hidden;
    > img {
      display: block;
      width: 50%;
      float: left;
    }
    a {
      display: block;
      float: right;
      width: 25%;
      > img {
        float: right;
        width: 100%;
      }
    }
  }
}

//完善信息
.information {
  padding: 0 5%;
  margin: 30px auto 20px auto;
  .w25 {
    width: 25% !important;
  }
  .box {
    margin-top: 15px;
    border-bottom: solid 10px #f4f4f4;
    //标题
    .title {
      color: #fcc142;
      font-size: 16px;
      //font-weight: normal;
    }
    .input {
      overflow: hidden;
      width: 100%;
      border-bottom: 1px solid #dbdbdb;
      line-height: 60px;
      height: 60px;
      span {
        font-size: 16px;
        line-height: 60px;
        color: #000;
        width: 35%;
        float: left;
      }
      > input {
        text-align: right;
        padding-right: 0;
        height: 60px;
        line-height: 60px;
        border: none;
        font-size: 16px;
        box-sizing: border-box;
        width: 65%;
        float: left;
      }
    }
    //验证码
    .erweima {
      overflow: hidden;
      width: 100%;
      border-bottom: 1px solid #dbdbdb;
      line-height: 60px;
      height: 60px;
      span {
        font-size: 16px;
        line-height: 60px;
        color: #000;
        width: 30%;
        float: left;
      }
      > input {
        height: 60px;
        line-height: 60px;
        border: none;
        font-size: 16px;
        box-sizing: border-box;
        width: 50%;
        float: left;
      }
      .yanzhengma {
        margin-top: 10px;
        border-radius: 15px;
        background-color: #c2c2c2;
        color: #FFFFFF;
        font-size: 16px;
        border: none;
        float: right;
      }
    }
    //单选框
    .information_radio {
      float: right;
      width: 30%;
      text-align: right;
    }
    //验证码
    .erweima1 {
      overflow: hidden;
      width: 100%;
      border-bottom: 1px solid #dbdbdb;
      line-height: 60px;
      height: 60px;
      span {
        font-size: 16px;
        line-height: 60px;
        color: #000;
        width: 30%;
        float: left;
      }
      > input {
        height: 60px;
        line-height: 60px;
        border: none;
        font-size: 16px;
        box-sizing: border-box;
        width: 30%;
        float: left;
      }
      .yanzhengma {
        margin-top: 10px;
        border-radius: 15px;
        background-color: #c2c2c2;
        color: #FFFFFF;
        font-size: 16px;
        border: none;
        float: right;
      }
    }
  }
}

//日历
.calendar {
  width: 100%;
}

//轮播图
.calendar_banner {
  height: 125px;
  img {
    height: 125px;
  }
}

.record {
  width: 85%;
  margin: 15px auto 0 auto;
  font-size: 16px;

  h1 {
    position: relative;
    left: -5px;
    color: #000;
    font-size: 16px;
    font-weight: 500
  }
  ul {
    border-left: 1px solid #e3e3e3;
    padding: 0;
    list-style-type: none;
    li {
      margin-left: -6px;
      position: relative;
      em {
        background: #fff;
        top: 13px;
        border: 2px solid #ff3548;
        //background-color: #f65d5d;
        position: absolute;
        display: block;
        width: 11px;
        height: 11px;
        font-size: 12px;
        border-radius: 100%;
      }
      .top {
        overflow: hidden;
        span {
          margin-left: 10%;
          float: left;
        }
      }
      .text {
        overflow: hidden;
        p {
          float: left;
          margin-left: 10%;
        }
      }
    }
  }
}

//行使轨迹
.address_top {
  background-color: #ffa800;
  box-sizing: border-box;
  //车牌号
  //p{
  //    margin-bottom:0 ;
  //    color: #ffffff;
  //    text-align: center;
  //    font-size: 18px;
  //    margin-top: 5px;
  //}

  .box {
    text-align: center;
    height: 55px;
    line-height: 55px;
    overflow: hidden;
    margin: 0 auto;
    //h2{
    //    margin-top:5px;
    //    font-size:12px;
    //    color: #f5ceb2;
    //    font-weight: normal;
    //}
    h1 {
      height: 55px;
      line-height: 55px;
      font-size: 30px;
      font-weight: normal;
      color: #ffffff;
      margin: 0;
    }
    h4 {
      height: 55px;
      line-height: 55px;
      margin: 0;
      color: #fff;
      font-weight: normal;
      font-size: 22px;
    }
    .left {
      width: 40%;
      float: left;
      background-color: #f07b12;
    }
    .center {
      width: 40%;
      float: left;
      background-color: #f07b12;
      p {
        text-align: right;
        font-size: 16px;
        line-height: 15px;
        margin: 0 10px 0 0;
        padding-top: 12px;
        height: 55px;
        color: #fff;
        width: 35%;
        float: left;
      }
      h1 {
        text-align: center;
        float: left;
        width: 65%;
      }
    }
    .right {
      //background-color: #ffa800;
      background: url("../img/top_bg.png") 0 0 no-repeat;
      width: 60%;
      float: left;
      em {
        font-style: normal;
      }
      span {
        text-align: right;
        font-size: 16px;
        line-height: 15px;
        margin: 0 15px 0 0;
        padding-top: 12px;
        height: 55px;
        color: #fff;
        width: 40%;
        float: left;
      }
      h1 {
        text-align: left;
      }
    }
  }
}

.mui-slider {
  img {
    display: block;
  }
}

.mui-slider-indicator {
  bottom: 0;
}

//实时位置
.mui-bar-tab .mui-tab-item .mui-icon1 {
  background: url("../img/ico1.png") no-repeat;
  background-size: 85%;
}

.mui-bar-tab .mui-active .mui-icon1 {
  background: url("../img/ico1_active.png") no-repeat !important;
  background-size: 85% !important;
}

//刷卡记录
.mui-bar-tab .mui-tab-item .mui-icon2 {
  background: url("../img/ico2.png") no-repeat;
  background-size: 85%;
}

.mui-bar-tab .mui-active .mui-icon2 {
  background: url("../img/ico2_active.png") no-repeat !important;
  background-size: 85% !important;
}

//福利商城
.mui-bar-tab .mui-tab-item .mui-icon3 {
  background: url("../img/ico3.png") no-repeat;
  background-size: 85%;
}

.mui-bar-tab .mui-active .mui-icon3 {
  background: url("../img/ico3_active.png") no-repeat !important;
  background-size: 85% !important;
}

.mui-bar-tab .mui-tab-item {
  color: #666666;
}

.pic_fix {
  z-index: 999;
  position: fixed;
  top: 16%;
  left: 25%;
  width: 50%;
  > img {
    display: block;
    width: 100%;
    border-radius: 10px;
  }
  .delete {
    margin: 25px auto 0 auto;
    width: 35px;
    height: 35px;
  }
}

//绑定页面
.share_pic {
  position: fixed;
  top: 0;
  right: 5px;
  width: 50%;
}

.binding_pic {
  text-align: center;
  width: 80%;
  margin: 30% auto 0 auto;
  img {
    width: 30%;
    margin-bottom: 10px;
  }
}

.binding_btn {
  margin-top: 30px;
  text-align: center;
  p {
    font-size: 16px;
    color: #333;
    width: 85%;
    display: inline-block;
    text-align: left;
    margin: 20px auto 0 auto;
  }
  button {
    color: #FFFFFF;
    border: none;
    font-size: 16px;
    height: 45px;
    border-radius: 5px;
    width: 85%;
    background-color: #05B910;
    margin: 10px auto 0 auto;
  }
}

/*新增*/
.ifram {
  display: block;
  width: 100%;
  margin-bottom: 10px;
}

.map_none {
  //background: #ccc;
  background: url("../img/map_bg.png") 0 0 no-repeat;
  background-size: cover;
  .map_title {
    margin: 0;
    position: absolute;
    top: 50%;
    color: #fff;
    font-size: 20px;
    text-align: center;
    width: 100%;
  }
}

//返回顶部
.backtop {
  background-color: #fff;
  text-align: center;
  width: 40px;
  height: 40px;
  position: fixed;
  bottom: 65px;
  right: 10px;
  border: solid 1px #cccccc;
  border-radius: 8px;
  img {
    display: inline-block;
    width: 25px;
    height: 25px;
    margin-top: 7px;
  }
}

.address_fix {
  width: 30px;
  height: 30px;
  position: fixed;
  z-index: 999;
  bottom: 65px;
  left: 50%;
  margin-left: -15px;
  img {
    width: 30px;
    height: 30px;
    display: block;
  }
}

.address__banner {
  width: 100%;
  background: #fdfdfd;
  .mui-slider {
    height: 130px;
    width: 95%;
    margin: 0 auto;
    img{
      display: block;
      height: 130px;
    }
  }
}

.address_name {
  display: flex;
  //margin: 0 auto;
  //overflow: hidden;
  flex-direction: column;
  align-items: center;
  flex-wrap: wrap;
  //text-align: center;
  height: 35px;
  justify-content: center;
  font-size: 16px;
  .box {
    overflow: hidden;
    img {
      float: left;
      display: inline-block;
      width: 25px;
      height: 25px;
    }
    span {
      height: 25px;
      line-height: 25px;
      margin-left: 10px;
      float: left;
    }
    //放大按钮
    #setFullMap{
      padding: 0 10px;
      height: 30px;
      color: #FFF;
      line-height: 30px;
      border-radius: 5px;
      border:none;
      background: rgba(83,167,233,0.8);
      //position: absolute;
      //top: 15px;
      //left: 10px;
      //z-index: 999;
    }
  }
}
.fix_btn {
  position: fixed;
  left: 10px;
  bottom: 75px;
  z-index: 99999;
  text-align: center;
  line-height: 35px;
  display: none;
  width: 35px;
  height: 35px;
}
.map_box {
  width: 95%;
  margin: 0 auto;
  height: 330px;
  position: relative;
    .map_reset {
      position: absolute;
      left: 10px;
      bottom: 25px;
      z-index: 1;
      text-align: center;
      line-height: 35px;
      display: block;
      width: 35px;
      height: 35px;
    }
  .address_map{
    background: #333333;
    position: absolute;
    width: 100%;
    height: 100%;
  }

  //放大关闭按钮
  #closeFullMap {
    padding: 0;
    display: none;
    position: fixed;
    right:15px;
    top: 15px;
    z-index: 10000;
  }
  .map_btn {
    z-index: 999;
    font-size: 14px;
    position: absolute;
    color: rgba(83,167,233,1);
    top: 15px;
    right: 10px;
    height: 30px;
    line-height: 30px;
    display: block;
    .tab1{
      padding: 0 15px;
      float: left;
      background: rgba(255,255,255,0.8);
      border-radius:15px 0 0 15px;
    }
    .tab2{
      border-radius: 0 15px 15px 0;
      padding: 0 15px;
      float: left;
      background: rgba(255,255,255,0.8);
    }
    .active {
      color: #fff;
      background: rgba(83,167,233,0.8);
    }
  }
}
.calender_banner{
  width: 95%;
  margin: 0 auto;
}
//.address_map{
//  width: 95%;
//  margin: 0 auto;
//  height: 330px;
//  background: #333333;
//  .map{
//    width: 100%;
//    overflow: hidden;
//    position: relative;
//  }
//  .map_btn {
//    z-index: 999;
//    font-size: 14px;
//    position: absolute;
//    color: #fff;
//    top: 65px;
//    right: 10px;
//    height: 30px;
//    line-height: 30px;
//    display: block;
//    .tab{
//      padding:0 10px;
//      float: left;
//      background: #c1c1c1;
//    }
//    .active{
//      background: #F07B12;
//    }
//  }
//  .map_position {
//    position: absolute;
//    left: 10px;
//    bottom: 25px;
//    z-index: 1;
//    text-align: center;
//    line-height: 35px;
//    img {
//      display: block;
//      width: 35px;
//      height: 35px;
//    }
//  }
//}
.address_html {
  display: block;
  margin: 15px auto;
  padding-bottom: 15px;
  width: 95%;
}
.map_text{
  border-radius:5px;
  width: 230px;
  position: absolute;
  z-index: 999;
  top: 30%;
  .map_position{
    height: 60px;
    display: block;
    width: 100%;
  }
  .position_ico{
    height: 30px;
    display: block;
    margin: 0 auto;
  }
  p{
    margin: 0;
    color: #000;
    background-color: #fff;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    box-sizing: border-box;
    padding: 0 10px;
    height: 30px;
    line-height: 30px;
    font-size: 16px;
  }
}
//二维码
.erweima_title{
  text-align: center;
  margin: 60px 0 50px  0;
}
.erweima_p{
  margin-top: 20px;
  color: #000;
  text-align: center;
}
.erweima_h5{
  display: block;
  width: 150px;
  height: 150px;
  margin: 0 auto;
}



