@{
    Layout = "~/Views/Shared/_SchoolBusLayout.cshtml";
    ViewBag.Title = "校车实时位置";
}
@section Css{
    <link rel="stylesheet" href="https://a.amap.com/jsapi_demos/static/demo-center/css/demo-center.css" />
    <link href="~/css/tools/reset.css" rel="stylesheet" />
    <style>
        html,
        body,
        #container {
            width: 100%;
            height: 100%;
        }

        .amap-marker-label {
            position: absolute;
            z-index: 2;
            border: 1px solid ghostwhite;
            background-color: white;
            cursor: default;
            padding: 3px;
            font-size: 12px;
            line-height: 14px;
            width: 150px;
            border-radius: 2px;
            background-color: #fff;
            box-shadow: 0 1px 2px 0 rgba(0, 0, 0, .05);
            line-height: 20px;
            white-space: normal !important;
        }

        body {
            background: #f2f2f2;
            margin-bottom: 50px
        }
    </style>
}
<img id="fix_btn" class="fix_btn" src="~/img/map_reset.png" style="display:none">
<!-- 轮播图 -->
<div class=" address__banner">
    <div class="mui-slider">
        <!-- 如果要添加无缝轮播图 轮播图图片容器要添加一个mui-slider-loop 类名 -->
        <div class="mui-slider-group mui-slider-loop">
            <div class="mui-slider-item mui-slider-item-duplicate">
                <a href="#"> <img src="~/img/lb1.jpg" /></a>
            </div>
            <div class="mui-slider-item">
                <a href="#"> <img src="~/img/lb1.jpg" /></a>
            </div>
            <div class="mui-slider-item">
                <a href="#"> <img src="~/img/lb2.jpg" /></a>
            </div>
            <div class="mui-slider-item">
                <a href="#"> <img src="~/img/lb3.jpg" /></a>
            </div>
            <div class="mui-slider-item mui-slider-item-duplicate">
                <a href="#"><img src="~/img/lb1.jpg" /></a>
            </div>
        </div>
        <!-- 轮播图的小圆点容器 -->
        <div class="mui-slider-indicator">
            <div class="mui-indicator mui-active"></div>
            <div class="mui-indicator"></div>
            <div class="mui-indicator"></div>
        </div>
    </div>
</div>

<!-- 地图上面信息栏 -->
<div class="address_name">
    <div class="box">
        <img src="~/img/address_name.png" />
        <span>王同学</span>
    </div>
    <div class="box">
        <button id="setFullMap">放大地图</button>
    </div>
</div>

<!-- 高德地图 -->
<div class="map_box">
    <div class="map_btn">
        <div id="cardLocation" class="tab1 active">刷卡位置</div>
        <div id="realLocation" class="tab2">实时位置</div>
    </div>
    <img class="map_reset" id="map_reset" src="~/img/map_reset.png">

    <button class="mui-icon mui-icon-closeempty" id="closeFullMap"></button>
    <div id="container" class="address_map"></div>
</div>

<!-- 广告内容 -->
<div class="address_fix">
    <img src="~/img/address_bottom.png" />
</div>
<img class="address_html" src="~/img/html2.png" />

<!--底部导航-->
<nav class="mui-bar mui-bar-tab" id="nav">
    <a class="mui-tab-item mui-active">
        <span class="mui-icon mui-icon1"></span>
        <span class="mui-tab-label">实时位置</span>
    </a>
    <a class="mui-tab-item " id="calendar">
        <span class="mui-icon mui-icon2"></span>
        <span class="mui-tab-label">刷卡记录</span>
    </a>
    <a class="mui-tab-item" id="welfareMall">
        <span class="mui-icon mui-icon3"></span>
        <span class="mui-tab-label">福利商城</span>
    </a>
</nav>
@section Scripts{
    <script type="text/javascript" src="https://webapi.amap.com/maps?v=1.4.15&key=dc057fdc90b12e88c567293b0ae3f4cb"></script>
    <script>
        var setFullMapBtn = $('#setFullMap');
        var addressMap = $('.address_map');
        var closeFullMap = $('#closeFullMap');
        var fix_btn = $('#fix_btn');
        var zhuangtai = true;

        // 放大地图
        setFullMapBtn.on('click', function () {
            fix_btn.css({
                'display': 'block'
            });
            addressMap.css({
                'position': 'fixed',
                'z-index': 9999,
                'left': 0,
                'top': 0,
                'right': 0,
                'bottom': 50,
                'overflow': 'auto',
                'height': 'auto',
                'width': '100%'
            });
            closeFullMap.css('display', 'block');
        });

        // 关闭放大地图
        closeFullMap.on('click', function () {
            addressMap.removeAttr('style');
            closeFullMap.css('display', 'none');
            fix_btn.css({ 'display': 'none' });
        })

        // 刷卡位置跳转
        $("#cardLocation").click(function () {
            window.location.href = "/goAddress?openId=" + openId + "&showType=0&cardLogId=";
        });

        // 实时位置跳转
        $("#realLocation").click(function () {
            window.location.href = "/goAddress?openId=" + openId + "&showType=1";
        });

        // 考勤查看跳转
        mui('body').on('tap', '#calendar', function () {
            location.href = '/goCalendar?wxid=' + openId;
        });

        // 福利商城跳转
        mui('body').on('tap', '#welfareMall', function () {
            location.href = '/erweima'; // 跳转到二维码页面
        });

        // 顶部轮播图
        var gallery = mui('.mui-slider');
        gallery.slider({
            interval: 5000
        });

        // 向下小箭头
        var intervalid = null;

        $(window).scroll(function () {
            if ($(window).scrollTop() + $(window).height() === $(document).height()) {
                clearInterval(intervalid);
                intervalid = null;
                $('.address_fix').css('display', 'none');
            } else {
                if (!intervalid) {
                    intervalid = setInterval('showhideTag()', 500);
                }
            }
        });
        function showhideTag() {
            $(".address_fix").toggle();
        }
        intervalid = setInterval('showhideTag()', 500);

    </script>

    <script>
        var delayed = 10000;  // 间隔更新时间
        var gps = [,];
        var resLnglat = [116.397428, 39.90923];
        var map = new AMap.Map('container', {
            resizeEnable: true,    // 是否监控地图容器尺寸变化
            zoom: 15,              // 初始化地图层级
            center: resLnglat      // 初始化地图中心点
        });

        $("#map_reset").click(function () {
            map.setCenter(resLnglat);
        });

        $('#fix_btn').click(function () {
            map.setCenter(resLnglat);
        });

        //省市区字符串替换
        var province = "辽宁省";
        var city = "沈阳市";
        var district = "";
        function logMapinfo() {
            //获取当前位置省市区
            map.getCity(function (info) {
                province = info.province;
                city = info.city;
                district = info.district;
            });
        }

        convertFrom();
        var geocoder, marker;
        function convertFrom() {
            AMap.convertFrom(gps, 'gps', function (status, result) {
                if (result.info === 'ok') {
                    resLnglat = result.locations[0];
                    // 设置中心点
                    if (!marker) {
                        map.setCenter(resLnglat);
                    }

                    // 定位
                    /*AMap.plugin('AMap.Geolocation', function () {
                     var geolocation = new AMap.Geolocation({
                     showButton: false,//是否显示定位按钮
                     enableHighAccuracy: true,//是否使用高精度定位，默认:true
                     //                        timeout: 10000,          //超过10秒后停止定位，默认：5s
                     buttonPosition: 'RB',    //定位按钮的停靠位置
                     buttonOffset: new AMap.Pixel(10, 20),//定位按钮与设置的停靠位置的偏移量，默认：Pixel(10, 20)
                     zoomToAccuracy: false,   //定位成功后是否自动调整地图视野到定位点
                     markerOptions: {
                     'offset': new AMap.Pixel(-18, -36),
                     'content': '<img src="https://a.amap.com/jsapi_demos/static/resource/img/user.png" style="width:36px;height:36px"/>'
                     }
                     });
                     map.addControl(geolocation);
                     geolocation.getCurrentPosition(function (status, result) {
                     //                        console.log(result);
                     });
                     });*/

                    // 标记
                    regeoCode();

                    function regeoCode() {
                        if (!geocoder) {
                            geocoder = new AMap.Geocoder({
                                city: "010", //城市设为北京，默认：“全国”
                                radius: 1000 //范围，默认：500
                            });
                        }

                        if (!marker) {
                            marker = new AMap.Marker({
                                content: '<img style="height: 30px" class="position_ico" src="/common/resource/img/position_ico.png?v=20190606" />',
                                offset: new AMap.Pixel(-9, -15)
                            });
                            map.add(marker);
                        }

                        marker.setPosition(resLnglat);

                        geocoder.getAddress(resLnglat, function (status, result) {
                            if (status === 'complete' && result.regeocode) {
                                $("#address_map").show();
                                $("#map_none").hide();
                                var address = result.regeocode.formattedAddress;
                                //                            var index = address.lastIndexOf("市");
                                //                            address = address.substring(index + 1, address.length);
                                //替换省市区
                                logMapinfo();
                                address = address.replace(province, "").replace(city, "");
                                //                            console.log(result);
                                // 设置label标签
                                marker.setLabel({
                                    //修改label相对于maker的位置
                                    offset: new AMap.Pixel(-106, -108),
                                    //                                content: '<p>' + address + '</p>'
                                    content: '<div class="map_text">' +
                                        '<a id="label" style="z-index: 99999;display: block;" onclick="goAdv()" href="javascript:;"><img onclick="goAdv()" class="map_position" src="/common/resource/img/map_position.jpg"></a>' +
                                        '<span style="width: 100%;background: #fff;display: block;height: 45px;padding: 0 5px;">' + address + '</span>' +
                                        '<img class="position_ico" src="/common/resource/img/position_ico.png?v=20190606" />' +
                                        '</div>'
                                });

                                marker.on('click', goAdv);

                                map.setCenter(resLnglat);

                                setTimeout("clickeven()", 1000);
                            } else {
                                // 设置label标签
                                /*marker.setLabel({
                                 //修改label相对于maker的位置
                                 offset: new AMap.Pixel(-50, 50),
                                 content: '<p>' + 'GPS信号弱,未能获取位置信息' + '</p>'
                                 });*/
                                $("#address_map").hide();
                                $("#map_none").show();
                            }
                        });
                    }
                }
            });
        }

        function clickeven() {
            //地图上屏蔽点击事件，需要主动添加touchstart事件
            let btn = document.getElementById("label");
            btn.addEventListener(
                "touchstart",
                function (event) {
                    goAdv()
                },
                false
            );
        }



        // 查看实时位置
        if ('1' === "1") {
            setInterval(getRuntimePosition, delayed);
        }

        function getRuntimePosition() {
            if ('1' === "1") {
                // 获取实时位置
                $.ajax({
                    type: "GET",
                    url: "/webService/getRuntimePosition",
                    data: {
                        devCode: '1124347960'
                    },
                    async: false,
                    success: function (data) {
                        if (data.code === 1) {
                            //更新点标记位置及时间
                            gps = [data.data.flng, data.data.flat];
                            convertFrom();
                        }
                    }
                });
            }
        }

    </script>

}