@{
    Layout = "~/Views/Shared/_SchoolBusLayout.cshtml";
    ViewBag.Title = "绑定成功";
}
<div class="binding_pic">
    <img src="~/img/binding_pic.png" />
    <h4>绑定成功</h4>
</div>
<div class="binding_btn">
    <p>首次绑定卡家长,需要完善卡信息</p>
    <button id="doInfo" type="button" class="mui-btn-success mui-btn">继续完善卡信息</button>
</div>
@section Scripts{
    <script>
        $('#doInfo').on('click', function () {
            window.location.href = "/SchoolBus/GoCardInfo"; // 跳转完善信息页
        });
    </script>
}
